@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block
    px-5
    py-3
    rounded-lg
    uppercase
    tracking-wider
    font-semibold
    text-sm
    focus:outline-none
    focus:ring
    focus:ring-offset-2
    focus:ring-opacity-70
    sm:text-base;
  }

  .btn-primary {
    @apply focus:ring-indigo-500
    bg-indigo-500
    hover:bg-indigo-400
    active:bg-indigo-600
    text-white;
  }

  .btn-secondary {
    @apply focus:ring-gray-300
      bg-gray-300
    hover:bg-gray-200
    active:bg-gray-400
    text-gray-600;
  }
}
